@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

main{
    padding: 20px;
}

header{
    width: 100%;
    height: 80px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

.icon__menu{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon__menu i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.menu__side{
    width: 80px;
    height: 100%;
    background: #dbd141;
    position: fixed;
    top: 0;
    left: 0;
    color: black;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #dbd141;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.name__page{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name__page i{
    width: 20px;
    margin-right: 20px;
}

.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a{
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover{
    color: white;
}

.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
}

a.selected{
    color: #fff;
}

.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}


/*Clases para usar en JavaScript*/
.body_move{
    margin-left: 250px;
}

.menu__side_move{
    width: 250px;
}


@media screen and (max-width: 760px){
    .body_move{
        margin-left: 0px;
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }
}


 
/*estilos formulario*/

.modaltri{
    background-color: rgba(0, 0,0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: auto;
    padding-top: 5%;
    display: none;
}

.contenidotri{
    background-color: white;
    margin: auto;
    width: 60%;
    position: relative;
    padding: 1rem;
    animation-name: animarmodal;
    animation-duration: 0.5s;
}

@keyframes animarmodal {
    from{top: -300px; opacity: 0;}
    to{top: 0; opacity: 1;}
}

.cerrarModaltri{
    font-size: 2rem;
    float: right;
}

.cerrarModaltri:hover{
    cursor: pointer;
}



form label {
    color: black;
}

.boton:hover{
   background-color: rgb(228, 139, 156);
}

.boton{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    border: none;
    padding: 5px;
}

.tittleform{
    text-align: center; 
}

.form-container{
    background-color: rgba(36, 15, 15, 0.537);
    max-width: 40rem;
    width: 100%;
    color: rgb(241, 237, 231);
    padding: 3rem;
    margin: 50px auto;
  }

  .frm-input{
    width: 100%;
    min-height: 2.5rem;
    padding-left: 1rem;
    padding: 0;
    margin-top: 1rem;
}

.frm-input:focus{
    outline: none;
    border-width: 2px;
    border-style: solid;
}

.terminos{
    display: flex;
    justify-content: center;
}

.terminos label{
padding: 5px  10px;
}

.terminos input{
    cursor: pointer;
}

.btn-enviar{
    background-color: rgba(218, 143, 82, 0.74);
    padding: 0.5rem 1rem;
    border-radius: 5px ;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}

.btn-enviar:hover{
    background-color: rgba(226, 122, 36, 0.74);
}

.msn-error{
    font-size: 12px;
    color: rgb(224, 20, 20);
    visibility: hidden;
    opacity: 0;
}

.form-group{
    margin: 0.5rem 0;
}

.form-group label{
    color: rgb(255, 255, 255);
}

label{
    font-weight: 600;
}

.form-group-input{
    position: relative;
}

.frm-icono{
    position: relative;
    left: 95%;
    bottom: 2rem;
    color: rgb(255, 255, 255);
    z-index: 100;
}

.success .frm-icono{
    color: rgb(4, 83, 4);
}

.error .frm-icono{
    color: rgb(248, 12, 12);
}

.msn-error-visible{
    visibility: visible;
    opacity: 1;
}